
  
  <ion-content>
  </ion-content>
  <ion-content>
  </ion-content>
  <ion-content>
      <div align="center" style="border:1">
         <h2>Search, find and explore!</h2> 

  
      </div>

    </ion-content>
    <ion-content>
      </ion-content>
      <ion-content>
        </ion-content>


      <ion-content>
          <ion-button color="secondary"expand="full" (click)="go()">Search Movies</ion-button>

        </ion-content>
        <ion-content>
          </ion-content>
          <ion-content>
            </ion-content>
            <ion-content>
              </ion-content>
  